#book{
    font-family: 'Times New Roman', Times, serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-select-input{
    width: 80px;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid black;
    text-align: center;
}

#price{
    font-weight: 500;
    font-size: 27px;
}

#senior-age{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
}
#date-to{
    margin-left: 50px;
}
#book-input-data{
    border: 0;
    border-bottom: 2px solid black;
    font-size: 18px;
}
.create-label > span{
    font-weight: 600;
    font-size: 30px;
}
#pricespan{
    opacity: 0.7;
    font-weight: 300;
    font-size: 20px;
}
.totals{
    display: inline-block;
    margin-left: 5px;
    font-size: 25px;
    opacity: 0.8;
}

#cnfrmation{
    display: none;
    position: absolute;
    top: 37.5%;
    left: 40%;
    height: 20%;
    width: 20%;
    background-color: peachpuff;
    color: peru;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    z-index: 1000;
}
#cnfrmation > form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: auto;
}
#cnfrmation  > button{
    width: 100px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.673);
    backdrop-filter: blur(10px);
    
}
#cnfrmation  > button:hover{
    box-shadow: 0 0 10px black;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent; /* background opacity */
    backdrop-filter: blur(5px);
    display: none;
    z-index: 999;
  }
@media screen and (max-width: 1200px){
    .date-input{
        width: 200px;
    }
    #date-to{
        margin: 0;
        margin-top: 10px;
    }
    .totals{
        display: inline-block;
        margin-left: 5px;
        font-size: 4vw;
        opacity: 0.8;
    }
    #price{
        font-weight: 500;
        font-size: 5vw;
    }
    #pricespan{
        opacity: 0.7;
        font-weight: 300;
        font-size: 3vw;
    }
}
