#form{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: auto;
}
#create-h1{
    font-size: 3vw;
    /* text-align: center; */
    /* margin-left: 33%; */
    font-weight: 600;
}
#create-form{
    /* margin-top: 20px; */
    /* align-self: center; */
    /* background-color: rgb(242, 242, 242); */
/* border: 2px solid black; */
    width: 50vw;
    padding: 15px;
    height: fit-content;
    /* margin-left: 480px; */
    
}
#create-form fieldset{
    /* border: 1px solid black; */
    border: 0;
    border-radius: 15px;
    height: 95%;
}
legend{
    margin-left: 0px;
    font-size: 35px;
}
.create-label{
    font-size: 27px;
}
.create-input{
    font-family: 'Times New Roman', Times, serif !important; 
    font-weight: 100 ;
    /* outline: none; */
    font-size: 22px ;
    background-color: transparent ;
    border: 0 ;
    border-radius: 0 ;
    border-bottom: 1px solid black ;
    width: 100% ;
    padding: 5px;
    padding-bottom: 0;
}
.create-input:focus{
    outline: 0;
    background-color: rgb(216, 216, 216);
}
textarea{
    /* outline: 0; */
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 25px !important;
    background-color: transparent !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
    padding: 5px !important;
    width: 90%;
}
.create-button{
    margin-top: 20px;
    background-color: blue;
    width: 200px;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid blue;
    cursor: pointer;
    color: white;
    padding: 5px 0;
}
button:hover{
    background-color: transparent;
    color: blue;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row1{
    width: 35%;
}
.row2{
    width: 60%;
}
@media screen and (max-width: 1200px){
    .row2,.row1{
        width: 100%;
    }
    #create-h1{
        font-size: 10vw;
        /* text-align: center; */
        margin: auto;
    }
    #create-form{
        margin-top: 8px;
        align-self: center;
        /* background-color: rgb(242, 242, 242); */
        width: 80vw;
        border-radius: 20px;
        padding: 15px;
        /* margin-left: 480px; */
        /* box-shadow: 0 0 10px black; */
    }
    .create-label{
        font-size: 5vw;
        font-weight: 300;
    }
    .create-input{
        font-size: 4vw
    }
    textarea{
        font-size: 4vw
    }
    .create-button{
        width: 100%;
    }
}