#title{
    position: relative;
    top: -80px;
    height: 105vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    object-fit: cover;
}
#title-card {
    position: absolute;
    overflow: hidden;
    width: fit-content;
    z-index: 1;
}

#title-cnt {
    font-size: 15vw;
    color: rgba(255, 255, 255, 0.846);
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    visibility: hidden;
    overflow: hidden;
}

#title-hr {
    width: 100%;
    height: 2px;
    background: black;
    /* This ensures your x:0 animation has somewhere to come FROM */
    transform: translateX(-100%);
}
#home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#home h1{
    font-size: 7vw;
    margin: 0;
    margin-top: 5vw;
    color: black;
    text-align: center;
}
.home-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home-card{
    height: 400px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 2px solid rgb(255, 201, 148); */
    border-radius: 20px;
    margin-bottom: 50px;
    /* background-color: rgb(255, 201, 148); */
}
.home-card img{
    object-fit: cover;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}
.home-card img:hover{
    opacity: 0.6;
}
.card-title{
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
}
.card-title a{
    text-decoration: none;
    color: black;
}
.card-price{
    font-size: 18px;
    color: #7b7368;
    margin: 0;
    margin-left: 20px;
}

/* responsive */

@media screen and (max-width: 1200px) {
    .home-card {
        height: 10%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 2px solid rgb(255, 201, 148); */
        border-radius: 20px;
        /* margin-bottom: 50px; */
        /* background-color: rgb(255, 201, 148); */
    }
    .home-cards{
        width: 100%;
    
    }
    .card-title{
        font-size: 15px;
        margin: 0;
        margin-top: 2px;
        margin-left: 15px;
    }
    .card-price{
        font-size: 12px;
        color: #7b7368;
        margin: 0;
        margin-left: 15px;
    }
    .home-card img{
        object-fit: cover;
        margin-top: 5px;
        margin-left: 15px;
        border-radius: 20px;
        width: 40vw;
        height: 40vw;
    }
}