#show{font-family: 'Times New Roman', Times, serif !important;

    background-color: rgb(255, 255, 255);
    padding: 10px 20px ;
    border-radius: 20px;
    margin: 30px;
    border: 0;
    /* box-shadow: 0 0 2px black; */
    width: 60vw;
  justify-self: center;
  height: 90%;
}
.show-h1{
    font-size: 55px;
    margin: 10px 0;
}
.show-img{
    border-radius: 20px;
    box-shadow: 0 0 8px black;
    height:400px;
        width:400px;
}
.show-description{
    font-size: 25px;
    margin: 8px 0;
    width: 80%;
}
.show-price{
    font-size: 22px;
    margin: 5px 0;
}
.show-location{
    font-size: 22px;
    margin: 5px 0;
}
.show-country{
    font-size: 22px;
    margin: 5px 0;
}
.show-edit{
    display: inline-block;
    text-decoration: none;
    background-color: blue;
    width: 150px;
    color: white;
    border: 1px solid blue;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;
}
.show-edit:hover{
    background-color: transparent;
    color: blue;
}
.show-form{
    display: inline-block;
}
.show-delete{
    padding: 5px 0;
    background-color: red;
    width: 150px;
    color: white;
    border: 1px solid red;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.show-delete:hover{
    background-color: transparent;
    color: red;
}

#review{
    font-family: 'Times New Roman', Times, serif !important;
    /* background-color: rgb(252, 252, 252); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 200px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    /* min-width: 50%; */
    width: auto;

}
#review-form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.review-h1{
    font-size: 3vw;
    margin: 10px 0;
}
.review-label{
    font-size: 1.3vw;
}
.rating-range{
    margin-bottom: 10px;
}
#rating-value{
    font-size: 1.3vw;
}
#review-input{
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}
#review-submit{
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 5px 0
}
#review-submit:hover{
    background-color: transparent;
    color: blue;
}
.invalid-feedback{
    font-size: 18px;
}

#reviews-data{
    background-color: aliceblue;
    margin: 20px 50px;
    box-shadow: 0 0 2px black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
}
#reviews-data-h1{
    width: 100%;
}
.review-card{
    align-self: stretch;
    border: 0px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px black;
    width: 45%;
    margin-bottom: 15px;
    margin-left: 30px;
}
.review-card >h2{
    display: inline-block;
    width: 88%;
}
.review-card >span{
    display: inline-block;
    width: 8%;
}
.review-delete{
    display: inline-block;
}
.review-delete-btn{
    background-color: transparent;
    border: 0;
    font-size: 25px;
    margin: 0;
}
@media screen and (max-width: 767px){
   #show{
    width: 95%;
    height: auto;
   }
   .show-h1{
    font-size: 8vw;
    margin: 4vw;
    font-weight: 600;
}
.show-img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    height:70vw;
    width:70vw;
    margin-left: 4vw;
}
.show-description{
    font-size: 5vw;
    margin: 8px 10px;
    width: 80%;
}
.show-price{
    font-size: 4vw;
    margin: 8px 10px;
    
}
.show-location{
    font-size: 4vw;
    margin: 8px 10px;
}
.show-country{
    font-size: 4vw;
    margin: 8px 10px;
}
.show-edit{
    margin-bottom: 10px;
}
.show-delete{
    margin-bottom: 10px;
}

#review{
    margin-top: 20px;
    width: 80vw;
    justify-content: start;
    align-items: center;
    margin-left: 10vw;
}
#review legend{
    font-size: 5vw;
    margin-bottom: 0;
}
.review-h1{
    font-size: 6vw;
    margin: 10px 0;
}
.review-label{
    font-size: 5vw;
}
#rating-range{
    width: 50%;
}

#rating-value{
    font-size: 3vw;
}
#review-input{
    font-size: 2.75vw;
}
.review-card{
    border: 0px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px black;
    width: 90%;
    margin-bottom: 8px;
    margin-left: 10px;
}
#reviews-data{
    width: 80%;
    margin: 10px 10%;
}
#reviews-data-h1{
    font-size: 6vw;
    margin-left: 10px;
}
.review-card > h2{
    font-size: 5vw;
}
.starability-result{
    font-size: 2vw !important;
}
.review-card > h4{
    font-size: 4vw;
}
}